@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 1em;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

button, input {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 36px;
}

#searchItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible;
    /* flex-direction: row; */
}

/* .imgSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: visible; 
    flex-direction: row;
} */

/* .imgSet::before {
    font-size: 50px;
    position: fixed;
}

#Work.imgSet::before {
    content: "WORK";
}

#Class.imgSet::before {
    content: "CLASS";
}

#Weekend.imgSet::before {
    content: "WEEKEND";
} */


.container {
    overflow: hidden;
}
  
.filterDiv {
    /* float: left; */
    /* background-color: #2196F3; */
    color: #323437;
    width: fit-content;
    line-height: 20px;
    text-align: center;
    margin: 2px;
    padding: 5px;
    /* Hidden by default */
    /* display: none;  */
    position: relative;
    /* display: block;
    overflow: auto; */
    transition: ease-in-out 0.3s;
}
  
/* The "show" class is added to the filtered elements */
.show {
display: block;
}
  
/* Style the buttons */
.btn {
border: none;
border-radius: 16px;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
background-color: #666;
color: white;
}

img {
    width: 7vw;
    min-height: 26.5vh;
    position: relative;
}

.filterDiv:hover {
    background-color: #32343722;
    transform: scale(1.2);
}

a {
    display: none;
}

/* search bar */
#searchInput {
    margin-top: 20px;
    border-radius: 16px;
    border: none;
    width: 90vw;
    text-align: center;
}

#searchInput:focus {
    border: none;
    outline-color: #00000000;
}

@media screen and (max-width: 1661px) {
    img {
        width: 5.5vw;
        min-height: 23.5vh;
    }
}

@media screen and (max-width: 1251px) {
    img {
        min-width: 15vw;
        min-height: 26.5vh;
    }

    #searchItems .imgSet::before {
        content: "";
    }
}

@media (orientation: portrait) {
    img {
        min-width: 26.5vw;
        max-height: 75vh;
    }

    #searchItems .imgSet::before {
        content: "";
    }

}

/* @media screen and (min-height: 1245px) {
    img {
        min-width: 15vw;
        min-height: 18.5vh;
    }
} */

